{% extends "adminBase.html" %}

{% block content %}
<div class="main-content" id="panel">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 mt-3 shadow-none border-radius-xl" id="navbarTop">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Profile Creation</li>
                </ol>
                <div>
                <h6 class="font-weight-bolder mb-0" style="display: inline;">Profile Creation</h6>
                </div>
            </nav>
        </div>
    </nav>
    <div class="container-fluid pt-3">
        <div class="card z-index-0">
            <div class="card-body">
                <form action="{{ url_for('editInventory1') }}" method="post" enctype="multipart/form-data">
                    <div class="msg">{{ msg }}</div>
                    <input type="hidden" name="ProductID" value="{{ ProductID }}">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Inventory Name" aria-label="invName" name="invName" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Description" aria-label="invDescription" name="invDescription" required>
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" placeholder="Inventory Amount" aria-label="invAmount" data-gtm-form-interact-field-id="0" name="invAmount" required>
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" placeholder="Inventory Price" aria-label="invPrice" data-gtm-form-interact-field-id="0" name="invPrice" required>
                    </div>
                    <div class="mb-3">
                        <input type="file" class="form-control" placeholder="Confirm Password" aria-label="invPicture" data-gtm-form-interact-field-id="0" name="invPicture" accept="image/*" required>
                    </div>
                    <div class="text-center">
                    </div>
                <div class="container-fluid pt-3">
                </div><button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Submit</button>
                </form>
            </div>
        </div>
        <a href="{{ url_for('inventory') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-remove"></span> Return
        </a>
    </div>
</div>

{% endblock %}
