{% extends "adminBase.html" %}

{% block content %}
<div class="main-content" id="panel">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 mt-3 shadow-none border-radius-xl" id="navbarTop">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Profile Creation</li>
                </ol>
                <div>
                <h6 class="font-weight-bolder mb-0" style="display: inline;">Profile Creation</h6>
                </div>
            </nav>
        </div>
    </nav>
    <div class="container-fluid pt-3">
        <div class="card z-index-0">
            <div class="card-body">
                <form action="{{ url_for('profileCreation') }}" method="post">
                    <div class="msg">{{ msg }}</div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Name" aria-label="Name" name="Name">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Phone Number" aria-label="PhoneNumber" name="PhoneNumber">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email" aria-label="Password" data-gtm-form-interact-field-id="0" name="Email">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Password" aria-label="Password" data-gtm-form-interact-field-id="0" name="PW">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Confirm Password" aria-label="ConfirmPW" data-gtm-form-interact-field-id="0" name="ConfirmPW">
                    </div>
                    <div class="text-center">
                    </div>
                <div class="container-fluid pt-3">
                </div><button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
