{% extends "adminBase.html" %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/style1.css') }}">
<div class="main-content" id="panel">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 mt-3 shadow-none border-radius-xl" id="navbarTop">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Inventory</li>
                </ol>
                <div>
                <h6 class="font-weight-bolder mb-0" style="display: inline;">Inventory</h6>
                </div>
            </nav>
        </div>
    </nav>
    <div class="container-fluid pt-3">
    <a class="btn mb-4 btn-primary open-button" onclick="openForm()">+Add</a>
    </div>
    <div>{{ status }}</div>
    <div class="form-popup" id="myForm">
        <form action="{{ url_for('addInventory') }}" method="post" enctype="multipart/form-data" class="form-container">
            <label for="day">Inventory Name</label>
            <input type="text" name="invName" required /><br>
            <label for="Description">Description</label>
            <input type="text" name="invDescription" required> <br>
            <label for="Stock">Stock</label>
            <input type="number" name="invAmount" required> <br>
            <label for="Stock">Price</label>
            <input type="number" name="invPrice" required> <br>
            <label for="invPicture">Upload Document</label>
            <input type="file" name="invPicture" accept="image/*" required> <br>
            <input type="submit" value="submit" class="btn bg-gradient-primary mt-4"></input>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
        <section>
            <div class="container">
                <div class="section-header">
                    <h2>Inventory</h2>
                </div>
    
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-sm-5 col-md-3" style="margin: auto;">Product ID</t>
                        <th class="col-sm-5 col-md-3" style="margin: auto;"></th>
                        <th class="col-sm-5 col-md-3" style="margin: auto;">Product</th>
                        <th class="col-sm-5 col-md-3" style="margin: auto;">Stock</th>
                        <th class="col-sm-5 col-md-3" style="margin: auto;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                    <tr>
                        <td class="col-sm-5 col-md-3">
                        <div class="media">
                            <div class="media-body">
                            <h4 class="media-heading" style="margin: auto;">{{ product.ProductID }}</h4>
                            </div>
                        </div>
                        </td>
                        <td class="col-sm-5 col-md-3" style="margin: auto;"><img src="/static/styles/product_photo/{{ product.Attachment }}" style="height: 60px;"></td>
                        <td class="col-sm-5 col-md-3" style="margin: auto;">{{ product.ProductName }}</td>
                        <td class="col-sm-5 col-md-3" style="margin: auto;">{{ product.Stock}}</td>
                        <td class="col-sm-5 col-md-3" style="margin: auto;">${{ product.UnitRate }}</td>
                        <td class="col-sm-5 col-md-3">
                        <div class="container-fluid pt-3">
                          <a class="btn mb-4 btn-primary" href="{{ url_for('editInventory', ProductID=product.ProductID ) }}">
                          <span class="glyphicon glyphicon-remove"></span>Edit</a>
                        </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>{{ status }}</div>
            </div>
        </section>
</div>

<script>
function openForm() {
    document.getElementById("myForm").style.display = "block";
  }
  
function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
// function openForm1() {
//     document.getElementById("myForm1").style.display = "block";
//   }
  
// function closeForm1() {
//   document.getElementById("myForm1").style.display = "none";
// }
</script>
<style>
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>
{% endblock %}