{% extends "cusBase.html" %}
{% block title %}Product{% endblock %}
{% block content %}
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/style1.css') }}">
</head>

<div class="main-content" id="panel">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 mt-3 shadow-none border-radius-xl" id="navbarTop">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Product</li>
                </ol>
                <div>
                    <h6 class="font-weight-bolder mb-0" style="display: inline;">Product</h6>
                </div>
            </nav>
        </div>
        <div>
            <a href="{{ url_for('cart') }}"><img src="/static\styles\icon_photo\shoppingCart.png" style="height: 30px; display: inline; float: right; margin-right:80px ;"></a>
        </div>
    </nav>
    <h2 class="text-primary">Products</h2><br>
    <div class="container-fluid pt-3">
        <div class="row" style="margin: 1%;">
            {% for product in products %}
            <div class="col-sm-6 col-lg-3"> 
                <form method="post" action="{{ url_for('addProductToCart') }}">
                    <div class="single-publication">
                        <figure style="margin: auto; width:100%; height: 300px;">
                        <a href="#">
                            <img src="/static/styles/product_photo/{{ product.Attachment }}" style="width:100%; max-height:520px;">
                        </figure>
        
                        <div class="publication-content">
                            <span class="author">{{ product.ProductName }}</span>
                            <h3><a href="#">{{ product.Description }}</a></h3>
                            <h4 class="price">$ {{ product.UnitRate }}</h4>
                        </div>
        
                        <div class="add-to-cart">
                        <input type="hidden" name="ProductID" value="{{ product.ProductID }}"/>
                        <input type="number" class="product-quantity" name="quantity" min="1" size="2" />
                        <input type="submit" value="Add to Cart" class="default-btn" />
                        </div>
                    </div>
                </form>
            </div>
        {% endfor %}    
        </div>
        <!-- <div class="container-fluid pt-3"></div>
        <a class="btn mb-4 btn-primary" href="D">Generate New Report</a> -->
    <!-- <div class="grid-container">
        {% for product in products %}
            <div class="grid-item">
                <img src="/static/styles/product_photo/{{ product.Attachment }}" class="demo_pic_small" />
                <div class="buttons">
                    <label for="{{ product.ProductName }}" class="btn bg-gradient-primary mt-4">{{product.ProductName}}</label>
                </div>
            </div>
        {% endfor %}  
    </div> 
    {% for product in products %}
        <input class="modal-state_cus" id="{{ product.ProductName }}" type="checkbox" />
        <div class="modal_cus">
            <label class="modal__bg_cus" for="{{ product.ProductName }}"></label>
            <div class="modal__inner_cus">
                <label class="modal__close_cus" for="{{ product.ProductName }}"></label>
                <h2>{{product.ProductName}}</h2>
                <img src="/static/styles/product_photo/{{ product.Attachment }}" class="demo_pic_big" /><br clear="all">
                <p>Description: {{product.Description}}<br /> Price: $ {{product.UnitRate}} per day </p> <br>
                <div class="fill-in">
                    {% for info in user %}
                    <form action="/customer/product/add-to-cart" method="post">
                    {% endfor %}
                        <input type="hidden" name="ProductID" value={{product.ProductID}}>
                        <label for="day">Days</label>
                        <input type="number" name="days" min="1" required /><br>
                        <input type="submit" class="btn bg-gradient-primary mt-4" value="Add to cart" />
                    </form>
                </div>
            </div>
        </div>    
    {% endfor %}    
    <div class="container-fluid pt-3">
    </div><a class="btn mb-4 btn-primary" href="D">Generate New Report</a></div>
    </div> -->


</div>



{% endblock %}
